@value small, medium from "../../styles/breakpoints.module.css";

.section {
  composes: container from '../../styles/grid.module.css';
  padding-top: 90px;
  padding-bottom: 120px;
}

.head {
  font-weight: 300;
  font-size: 30px;
  letter-spacing: -1.7px;
}

.body {
  margin-top: 60px;
}

.button {
  margin-top: 60px;
}

.projects {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.project {
  word-wrap: break-word;
  overflow: hidden;
}

.projectTitle {
  font-weight: 600;
  font-size: 22px;
}

.projectDescription {
  line-height: 24px;
  font-size: 14px;
  letter-spacing: -0.8px;
  color: rgb(102, 102, 102);
}

.projectLink {
  font-weight: 600;
  font-size: 14px;
  letter-spacing: -0.8px;
  color: rgb(74, 144, 226);
  text-decoration: none;
}

@media medium {
  .projects {
    grid-template-columns: 1fr 1fr;
  }
}

@media small {
  .section {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .projects {
    margin-top: 30px;
    grid-template-columns: 1fr;
  }

  .head {
    font-size: 24px;
    letter-spacing: -1.3px;
  }

  .button {
    margin-top: 30px;
  }
}