@value small, medium from "../styles/breakpoints.module.css";

.section {
  composes: container from '../styles/grid.module.css';
  padding-top: 95px;
  padding-bottom: 95px;
  position: relative;
}

.sectionBottom {
  composes: container from '../styles/grid.module.css';
  position: relative;
}

.astronaut {
  background-image: url(../images/astronaut.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 305px;
  height: 326px;
  position: absolute;
  bottom: 50px;
  right: 50px;
  z-index: 2;
}

.projectDescription {
  width: 370px;
  color: rgb(102, 102, 102);
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.9px;
}

.projectInfoTop {
  display: flex;
}

.projectRepoInfo {
  width: 330px;
  margin-left: 290px;
}

.projectLogo {
  width: 168px;
}

.projectLink {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.8px;
  color: rgb(74, 144, 226);
}

.projectRepoLink {
  margin-top: 24px;
}

@media medium {
  .section {
    padding: 66px 30px 200px;
  }

  .astronaut {
    right: 5%;
  }
}

@media small {
  .section {
    padding: 66px 30px 200px;
  }

  .projectLogo {
    margin-bottom: 50px;
  }

  .projectInfoTop {
    flex-flow: column;
  }

  .projectRepoInfo {
    width: 240px;
    margin-left: 0;
    margin-bottom: 42px;
  }

  .projectDescription {
    width: 243px;
    font-size: 14px;
    letter-spacing: -0.8px;
  }

  .projectRepoLinks {
    margin-top: 24px;
  }

  .projectRepoLink {
    margin-top: 12px;
  }

  .astronaut {
    width: 187px;
    height: 200px;
    right: 5%;
  }
}
