body {
  background-image: url('../img/bg2.jpg');
  padding: 60px 0 40px 0;
}
.header {
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
}
.header .glb-logo {
  background: url('../img/globo.png') 0 0 repeat-x;
  display: block;
  height: 100px;
  width: 128px;
  float: left;
}
.header .btns {
  float: right;
  margin-left: 10px;
}
.repos .loading {
  display: block;
  margin: auto;
}
.project {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABZJREFUeNpiOHfu3H8gYGAEESAAEGAAbXQJZTSbcasAAAAASUVORK5CYII=") #f2f2f2;
  height: 200px;
  margin-bottom: 20px;
  position: relative;
}
.project .container-inner {
  background: #fff;
  height: 168px;
  margin: 6px;
  padding: 10px;
}
.project .countdown-break {
  background-color: #0074CC;
  height: 18px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 25px;
  width: 6px;
}
.project .description {
  height: 94px;
  overflow: hidden;
}
.project .btn {
  bottom: 20px;
  position: absolute;
  right: 20px;
}
