  body {
    background-image: url('../img/bg2.jpg');
    padding-top: 60px;
    padding-bottom: 40px;
  }

  .glb-logo {
    background: url('../img/globo.png') 0 0 repeat-x;
    display: block;
    height: 100px;
    width: 128px;
  }
  .span4{
  background-color: #F2F2F2;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABZJREFUeNpiOHfu3H8gYGAEESAAEGAAbXQJZTSbcasAAAAASUVORK5CYII=") fixed repeat 0 0;
  position: relative;
  height: 200px;
  margin-bottom: 20px;
  }
  .container-inner {
  background: white;
  margin: 6px;
  height: 168px;
  padding: 10px;
  }
  .countdown-break {
  background-color: #0074CC;
  top: 25px;
  height: 18px;
  left: 0;
  overflow: hidden;
  position: absolute;
  width: 6px;
  }
  .icon {
  background: url("../img/github.png") no-repeat scroll 0 0 transparent;
  background-size: 20px 20px;
  display: block;
  height: 20px;
  width: 20px;
  }
  .hero-unit {
  position: relative;
  }
  .btns {
  position: absolute;
  top: 0;
  right: 0;
  }