@value small from "../styles/breakpoints.module.css";

.section {
  composes: container from "../styles/grid.module.css";
  height: 600px;
  display: flex;
  align-items: center;
}

.hero {
  font-weight: 700;
  font-size: 48px;
}

.subHero {
  font-size: 24px;
}

@media small {
  .section {
    height: 500px;
  }
}
