@value small, medium from "./breakpoints.module.css";
@value maxWidth: 75rem;

.container {
  max-width: maxWidth;
  margin: 0 auto;
}


@media screen and (max-width: maxWidth) {
  .container {
    padding: 0 24px;
  }
}