@value small, mediumOnly from "../styles/breakpoints.module.css";

.pageContent {
  composes: container from '../styles/grid.module.css';
  position: relative;
  z-index: 1;
  padding-top: 150px;
  padding-bottom: 150px;
  font-size: 20px;
}

.bgCornerTop {
  background-image: url(../images/hacktober-bg-corner-top.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top center;
  width: 453px;
  height: 236px;
  position: absolute;
  top: 0;
  left: 0;
}

.bgCornerBottom {
  background-image: url(../images/hacktober-bg-corner-bottom.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  width: 100%;
  height: 60%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.saturn {
  background-image: url(../images/saturn-small.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 112px;
  height: 100px;
  position: absolute;
  top: 100px;
  left: 280px;
}

.astronautRocket {
  background-image: url(../images/astronaut-rocket.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 440px;
  height: 561px;
  position: absolute;
  top: 200px;
  right: 0;
}

.sectionTitle {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 8px;
}

.sectionTitleLight {
  font-weight: 300;
}

.sectionSubTitle {
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;
  margin-bottom: 50px;
}

.sectionSubscribe {
  display: flex;
  align-items: center;
}

.eventInfo {
  max-width: 535px;
  margin-top: 90px;
}

.eventInfoLabel {
  font-weight: 700;
  font-size: 30px;
  letter-spacing: -1.7px;
  margin-bottom: 65px;
}

.eventInfoBody {
  margin-bottom: 32px;
}

.eventInfoCall {
  font-weight: 600;
  font-size: 20px;
  line-height: 29px;
}

.projectLink {
  font-weight: 600;
  font-size: 22px;
  letter-spacing: -0.8px;
  color: rgb(74, 144, 226);
  text-decoration: none;
}

@media mediumOnly {
  .astronautRocket {
    width: 300px;
    height: 383px;
    top: 140px;
  }
}

@media small {
  .pageContent {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .section,
  .event {
    max-width: 300px;
  }

  .sectionTitle {
    font-size: 30px;
  }

  .sectionSubTitle {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 25px;
  }

  .sectionSubscriptionInfo {
    font-size: 12px;
    margin-left: 10px;
  }

  .eventCall {
    font-size: 24px;
    letter-spacing: -1.3px;
  }

  .eventDescription,
  .eventDate,
  .eventRepository {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.8px;
  }

  .saturn {
    display: none;
  }

  .astronautRocket {
    width: 166px;
    height: 211px;
    top: 210px;
    right: -38px;
  }
}
