@value small, medium from "../styles/breakpoints.module.css";

.section {
  composes: container from '../styles/grid.module.css';
  padding-top: 90px;
  padding-bottom: 120px;
}

.head {
  font-weight: 300;
  font-size: 30px;
  letter-spacing: -1.7px;
}

.members {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-gap: 10px;
}

.member {
  display: flex;
  align-items: center;
  transition: all 0.3s;
}

.member:hover {
  transform: scale(1.2);
}

.memberAnchor {
  width: 80px;
  height: 80px;
  display: inline-block;
}

.memberAvatar {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  margin: 0;
}

.button {
  margin-top: 60px;
}

@media medium {
  .members {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media small {
  .section {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .head {
    font-size: 24px;
    letter-spacing: -1.3px;
  }

  .members {
    margin-top: 26px;
    grid-template-columns: repeat(4, 1fr);
  }

  .memberAnchor {
    width: 60px;
    height: 60px;
  }

  .button {
    margin-top: 64px;
  }
}
