@value small from "../styles/breakpoints.module.css";

.button {
  font-family: 'Open Sans', serif;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.8px;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid black;
  border-radius: 40px;
  padding: 14px 16px;
  display: inline-flex;
  align-items: center;
}

.buttonIcon {
  width: 14px;
  height: 14px;
  margin: 0;
  margin-left: 5px;
}

.transparent {
  color: white;
  border-color: white;
}

@media small {
}