@value small from "../styles/breakpoints.module.css";

.button {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.8px;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid;
  border-radius: 40px;
  padding: 14px 16px;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s;
}

.button:hover {
  color: white;
  border-color: rgb(19, 173, 254);
  background-color: rgb(19, 173, 254);
}

.normal {
  color: black;
  background-color: white;
  border-color: black;
}

.transparent {
  color: white;
  border-color: white;
  background-color: transparent;
}

.filled {
  color: white;
  border-color: rgb(74, 144, 226);
  background-color: rgb(74, 144, 226);
}

.buttonIcon {
  width: 14px;
  height: 14px;
  margin: 0;
  margin-left: 5px;
}

@media small {
  .button {
    font-size: 10px;
    letter-spacing: 0.6px;
    padding: 10px 12px;
  }
}
