@value small from "../styles/breakpoints.module.css";

.footer {
  height: 64px;
  color: white;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: -0.4px;
}

.footerContent {
  composes: container from '../styles/grid.module.css';
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.brand {
  text-decoration: none;
  color: white;
  font-weight: 700;
}

.menu {
  margin-left: 40px;
  display: flex;
  align-items: center;
}

.menuItem,
.menuItem:active,
.menuItem:visited {
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.8px;
  color: rgb(238, 238, 238);
  text-decoration: none;
  margin-left: 30px;
}

.menuItem:first-child {
  margin-left: 0;
}

.menuItem:hover {
  color: rgb(19, 173, 254);
}

@media small {
  .footer {
    font-size: 10px;
  }

  .menu {
    margin-left: 12px;
  }

  .menuItem {
    font-size: 9px;
    margin-left: 12px;
  }

  .brand {
    font-size: 12px;
  }
}
