.header {
  height: 60px;
  background-color: rgb(16, 32, 55);
}

.headerContent {
  composes: gridContainer from './layout.module.css';
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brand {
  display: flex;
  align-items: center;
  color: white;
  font-family: 'Open Sans', serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: -0.4px;
}

.brandName {
  margin-bottom: 2px;
}

.logo {
  margin: 0;
  margin-right: 8px;
  height: 20px;
}

.menu {
  list-style: none;
  height: 100%;
  margin: 0;
}

.menuItem {
  margin: 0;
  margin-left: 40px;
  display: inline;
}

.menuItem:first-child {
  margin-left: 0;
}

.menuLink {
  line-height: 14px;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
}

.menuLink,
.menuLink:active,
.menuLink:visited {
  color: rgb(162, 193, 236);
}

.menuLink:hover {
  color: rgb(19, 173, 254);
}

.menuLinkActive,
.menuLinkActive:active,
.menuLinkActive:visited {
  color: rgb(19, 173, 254);
}

.menuLinkActive:hover {
  color: rgb(19, 173, 254);
}
