@value small from "../styles/breakpoints.module.css";

.layout {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgb(16, 32, 55);

  background-image: url(../images/landing-bg.svg);
  background-repeat: no-repeat;
  background-size: 1360px;
  background-position: top center;
}

.main {
  flex: 1;
}

@media small {
  .layout {
    background-image: url(../images/landing-bg-mobile.svg);
    background-size: 100%;
    background-color: white;
  }
}