@value small from "../styles/breakpoints.module.css";

.layout {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url(../images/stars-bg.svg);
  background-repeat: repeat-x;
  background-color: rgb(16, 32, 55);
  overflow: hidden;
}

.layoutTop {
  position: relative;
}

.main {
  flex: 1;
  z-index: 1;
  background-color: white;
}

.mainSection {
  composes: container from '../styles/grid.module.css';
  padding-top: 40px;
  padding-bottom: 40px;
}

@media small {
  .layout {
    background-image: url(../images/stars-bg-small.svg);
  }
}