.field {
  margin-bottom: 20px;
}

.input {
  width: 100%;
  border: 1px solid #f1f1f1;
  border-radius: 10px;
  padding: 10px;
  background-color: white;
  outline: none;
  -webkit-appearance: none;
  transition: border-color 0.3s;
}

.input:focus {
  border-color: rgb(74, 144, 226);
}

.label {
  color: rgb(74, 144, 226);
  font-size: 14px;
  margin-bottom: 5px;
  display: inline-block;
}

.errorText {
  font-size: 12px;
  margin-top: 5px;
  color: red;
}
